.form{
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 0px 0px 8px -1px rgb(88, 88, 88);
}

.container{
  margin-bottom: 25px;
  display: flex;
}
.form__input-wrapper{
  position: relative;
  width: 100%;
  height: 70px;
  margin-left: 20px;
  margin-right: 20px;
  /* border:1px solid red; */
}

.error{
  position: absolute;
  top: 7px;
  right: 10px;
  color:red;
  font-size: 15px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="phone"],
.form input[type="submit"]{
  box-sizing: border-box;
  padding: 25px 40px;
  font-size: 14px;
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: 0px 0px 8px -1px rgb(88, 88, 88);
  outline: none;
}

.form input[type="submit"]{
  width: 20%;
  font-size: 20px;
}
.form input[type="submit"]:hover{
  transition: ease-out all 1s;
  cursor: pointer;
  background-color: aqua;
  color:black;
}
